#module-imagemanager .image-manager__cropper {
    padding-left: 0;
    display: none;
}

/*cropper*/
#module-imagemanager .image-manager__cropper .image-cropper .image-wrapper {
    min-height: calc(100dvh - 24rem);
}

#module-imagemanager .image-manager__cropper .image-cropper .image-wrapper {
    max-height: 460px;
}

#module-imagemanager .image-manager__cropper .image-cropper .image-wrapper img#image-cropper {
    max-width: 100%;
}